@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 173, 181;
  --background-start-rgb: 57, 62, 70;
  --background-end-rgb: 34, 40, 49;
  --blog-bg: #363062;
  --projects-bg: #2C3639;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb))
}

body#blog-page{background-color: var(--blog-bg);}
body#projects-page{background-color: var(--projects-bg)}
